body {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 0px 0px 0px 20px;
}

ul:first-of-type {
    list-style-type: none;
}

img~ul:first-of-type {
    padding: 0px;
}

h2 {
    color: #CC1C0D;
    border-radius: 4px;
    border: 1px solid rgb(176, 182, 189);
    background-color: #DFE3E6;
    padding-left: 10px;
    font-size: 1.2em;
}

a {
    color: #CC1C0D;
}

p img {
    float: left;
    margin-top: 10px;
    padding-right: 5px;
    /* font-style: bold;? */
}

section img {
    border-radius: 40px;
    border: 2px solid #CC1C0D;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
}

section div img {
    float: none;
}

#vprospect,
#vconvert,
#vretain {
    font-weight: bold;
}

section div h3 {
    border-top: 6px solid #CC1C0D;
}

section div img h3 {
    line-break: auto;
}

section div p {
    text-align: center;
}

div:nth-of-type(4) {
    float: left;
    border-radius: 15px;
    border: 2px solid rgb(176, 182, 189);
    margin-right: 5px;
    width: 24%;
    text-align: center;
    padding-top: 13px;
}

div {
    float: left;
    border-radius: 15px;
    border: 2px solid rgb(176, 182, 189);
    margin-right: 5px;
    width: 24%;
    padding-top: 10px;
}

div:nth-of-type(1) h3 {
    border-top: 8px solid #CC1C0D;
    text-align: center;
}

div:nth-of-type(2) h3 {
    border-top: 8px solid #37A4A4;
    text-align: center;
}

div:nth-of-type(3) h3 {
    border-top: 8px solid #685288;
    text-align: center;
}

div:nth-of-type(4) h3 {
    border-top: 8px solid #000000;
    text-align: center;
}

section div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}
